<div class="navbar bg-orange-500 flex-no-wrap fixed top-0 flex w-full z-50 shadow-md">
  <div class="flex-1 px-2 lg:flex-none">
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="flex justify-end flex-1 px-2">
    <div class="avatar dropdown dropdown-hover dropdown-end">
      <div class="w-14 rounded-full">
        <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
      </div>
      <ul tabindex="0" class="dropdown-content z-[50] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Profile</a></li>
        <li><a>Settings</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</div>